.containe{
    height:calc(100vh);
}
.MenuLogo{
    height:90px;
    line-height:90px;
    margin:0px 8px;
    border-bottom:1px solid #002444;
}
.MenuLogo img{
    width:80px;
    height:40px;
}
.MenusLogoText{
    color:#fff;
    margin-left:5px;
    font-size: 14px;
}
.MenuOverall{
    margin-top:10px;
}